*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0.8rem;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 1rem;
}
::selection{
  background-color:black ;
  color: white;
}
body{
  width: 100%;
  min-height: 100vh;
  transition: all 0.5s linear;
}
html{
  transition: all 0.5s linear;
  scroll-behavior: smooth;
}

.entiti{
  font-style: italic;
  
}